@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="range"] {
  height: 20px;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  height: 20px;
  cursor: pointer;
  background: #fff;
  border-radius: 10px;
}
input[type="range"]::-webkit-slider-thumb {
  height: 20px;
  width: 30px;
  border-radius: 12px;
  background: #353b48;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #fff;
}
input[type="range"]::-moz-range-track {
  height: 20px;
  cursor: pointer;
  background: #353b48;
  border-radius: 12px;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 30px;
  border-radius: 12px;
  background: #fff;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  height: 20px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #fff;
  border: 0px solid #000000;
  border-radius: 28px;
}
input[type="range"]::-ms-fill-upper {
  background: #fff;
  border: 0px solid #000000;
  border-radius: 28px;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 10px;
  width: 30px;
  border-radius: 12px;
  background: #ccc;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #fff;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #fff;
}
a.active {
  color: #38b2ac;
}
